/* General styles for the page */
body {
    margin: 20px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
#map {
    height: 400px; /* Required for the map to display */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#parking-data {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.parking {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 40px);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: transform 0.3s, box-shadow 0.3s;
}

.parking:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.parking h3 {
    font-size: 1.8rem;
    color: #0056b3;
    margin-bottom: 15px;
}

.parking p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
    width: 100%;
}

.open {
    color: #28a745;
    font-weight: bold;
    margin-top: 10px;
}

.gesloten {
    color: #dc3545;
    font-weight: bold;
    margin-top: 10px;
}


    .parking {
        padding: 15px;
    }

    .parking h3 {
        font-size: 1.5rem;
    }

    .parking p {
        font-size: 0.9rem;
    }

